<section id="perfil" class="perfil">

  <div class="row mt-3 justify-content-center">

      <div class="col-9 text-center caixa">
          <form>

             <!-- <H1 align:center>Olá {{ perfilPego.nome }}</H1>

              <div class="form-group text-left">
                  <img height=200px [src]="perfilPego.foto"><br><br>
                  <label for="nome">Nome: </label>
                  <input type="text" class="form-control" id="nome" name="nome"
                  [(ngModel)]="perfilPego.nome">

              </div>

              <div class="form-group text-left">
                  <label for="idade">Idade: </label>
                  <input type="number" class="form-control" id="idade" name="idade"
                  [(ngModel)]="perfilPego.idade">

              </div>

              <div class="form-group text-left">
                  <label for="email">Email: </label>
                  <input type="string" class="form-control" id="email" name="email"
                  [(ngModel)]="perfilPego.email">
              </div>

              <div class="form-group text-left">
                  <label for="senha">Senha: </label>
                  <input type="string" class="form-control" id="senha" name="senha"
                  [ngModel]="perfilPego.senha">

              </div>
-->

         </form>
      </div>
  </div>
</section>
