
<section id="animes" class="home">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
        <h3>Animes</h3>
      </div>
    </div>
  </div>
  <div class="container" data-aos="zoom-in">
    <div class="owl-carousel clients-carousel">
      <img [src]="imgHxh" alt="">
      <img [src]="imgJjk" alt="">
      <img [src]="imgOp" alt="">
      <img [src]="imgNaruto" alt="">
      <img [src]="imgSlime" alt="">
      <img [src]="imgOverlord" alt="">
      <img [src]="imgGintama" alt="">
      <img [src]="imgBleach" alt="">
    </div>
  </div>
</section>
<section id="series" class="home">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
        <h3>Séries</h3>
      </div>
    </div>
  </div>

  <div class="container" data-aos="zoom-in" *ngFor = "let obj of seriesLista">

    <div class="owl-carousel cliseries-carousel" >
      <a [routerLink]="['/series-detalhes', obj.id]"><img [src]="obj.imagem"></a>
      <!--
      <img [src]="imgWitcher" alt="">
      <img [src]="imgSthings" alt="">
      <img [src]="imgBad" alt="">
      <img [src]="imgDexter" alt="">
      <img [src]="imgLoki" alt="">
      <img [src]="imgDark" alt="">
      <img [src]="imgStarTrek" alt="">
      -->
    </div>
  </div>
</section>
